html{
    width: 1440px;
}

body{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    background: hsl(30, 38%, 92%);
}

#box{
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    background: white;
    
}

/* LEFT PANEL */
#box #img {
    width: 50%;
}

span{
    text-transform: uppercase;
}

img{
    height: 450px;
}

/* RIGHT PANEL */
#box #info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
}

section #price{
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
}

h1{
    color: black;
    font-weight: 700;
    font-family: "Fraunces", sans-serif;
}

p{
    font-family: "Montserrat", sans-serif;
}

h2{
    color: hsl(158, 36%, 37%);
    font-size: 1.5rem;
    margin-right: 15px;
    font-family: "Fraunces", sans-serif;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-decoration: line-through;
    font-size: .9rem;
}

button{
    height: 40px;
    background: hsl(158, 36%, 37%);
    color: white;
    border: none;

}